<runtime_config>
  <plugins>
    <!-- TODO: remove entity and entity type as those are populated in the
        Configure call. These are needed because we are using
        ServerConfig::PluginInfo to load the plugin -->
    <plugin entity_name="*"
            entity_type="world"
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
      <background_color>0.5 0.5 0.5</background_color>
      <ambient_light>0.5 0.5 0.5</ambient_light>
    </plugin>
  </plugins>
</runtime_config>
