<?xml version="1.0"?>

<system alias="Test"
        classname="ignition::gazebo::v0::TestSystem"
        filename="libTestSystem.so">
</system>

<system alias="Null"
        classname="ignition::gazebo::systems::v0::Null"
        filename="libignition-gazebo-systems.so">
</system>

<system alias="Physics"
        classname="ignition::gazebo::systems::v0::Physics"
        filename="libignition-gazebo-systems.so">
</system>

