<?xml version="1.0"?>

<system name="ignition::gazebo::v0::TestSystem"
        filename="libTestSystem.so">
</system>

<system name="ignition::gazebo::v0::NullSystem"
        filename="libignition-gazebo-systems.so">
</system>

<system name="ignition::gazebo::v0::PhysicsSystem"
        filename="libignition-gazebo-systems.so">
</system>

