<?xml version="1.0"?>

<system name="ignition::gazebo::systems::v0::Null"
        filename="libignition-gazebo-systems.so">
</system>

<system name="ignition::gazebo::systems::v0::Physics"
        filename="libignition-gazebo-systems.so">
</system>

<system name="ignition::gazebo::systems::v0::WorldStatistics"
        filename="libignition-gazebo-systems.so">
</system>


