<?xml version="1.0"?>

<system alias="Null"
        classname="ignition::gazebo::systems::v0::Null"
        filename="libignition-gazebo-systems.so">
</system>

<system alias="Physics"
        classname="ignition::gazebo::systems::v0::Physics"
        filename="libignition-gazebo-systems.so">
</system>

<system alias="WorldStatistics"
        classname="ignition::gazebo::systems::v0::WorldStatistics"
        filename="libignition-gazebo-systems.so">
</system>


