<plugins>
  <plugin entity_name="*"
          entity_type="world"
          filename="libignition-gazebo-physics-system.so"
          name="ignition::gazebo::systems::Physics">
  </plugin>
  <plugin entity_name="*"
          entity_type="world"
          filename="libignition-gazebo-user-commands-system.so"
          name="ignition::gazebo::systems::UserCommands">
  </plugin>
  <plugin entity_name="*"
          entity_type="world"
          filename="libignition-gazebo-scene-broadcaster-system.so"
          name="ignition::gazebo::systems::SceneBroadcaster">
  </plugin>
</plugins>
