# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @arjo129
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
*/gui/*               @jennuine
