# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
examples/*            @mabelzhang
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
tutorials/*           @mabelzhang
