body, table, div, p, dl {
  font-family: arial, verdana, sans, sans-serif;
  background-color: #FFF;
	font-size: 12px;
  margin: 0;
  padding 0;
}

div#top {
  margin: 0 0 0 20em;
}
div.header {
	margin-left: 20em;
}

div.contents {
	margin-top: 0px;
	margin-left: 20em;
	margin-right: 10px;
}

.floatright 
{ 
  float: right; 
  margin: 0 0 1em 1em; 
}

.timestamp { 
  text-align:right; 
  background-color: #DDD; 
  font-size:75%;
}


div.leftbar
{
  text-align:left;
  float: left;
  border-right: 1px solid #dddddd;
  width: 18em;
  margin: 0 0 0 0;
  padding: 4 4 4 4;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
}

div.menu {
  #display:block;
  background:#ffffff;
  font-size: 90%;
  /*border-top: 2px solid #000000;
   *   border-bottom: 2px solid #000000;
   *   */
  margin: 0 0 10px 0;
}

div.menu dl {
  margin-top: 0px;
  margin-bottom: 5px;
}

div.menu dt {
  font-weight:bold;
  padding:0 4px 4px 4px;
  font-size: 110%;
  text-align: left;
  text-decoration:none;
}

div.menu dd {
  font-weight: bold;
  margin-left: 0px;
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 100%;
}


div.leftbar img {
  border:0;
}

div.submenu dd {
  font-size: 70%;
  margin-left: 8px;
  padding-left: 10px;
  padding-bottom: 3px;
}

div.submenu dd .secondline {
  margin-left: 12px;
}

#MSearchBox
{
  border: 1px solid black;
  position: static;
  margin: 10px;
  display: block;
  height: 20px;
}

#MSearchField
{
  background:none;
}
