<?xml version="1.0" ?>
<model>
  <name>Elevator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Nick Lamprianidis</name>
    <email>nlamprian@gmail.com</email>
  </author>
  <description>An elevator with configurable number of floors.</description>
</model>
