<?xml version="1.0"?>

<model>
  <name>cylinder_dae_bottom_origin</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com</email>
  </author>

  <description>
    A model of a Cylinder collada with mesh origin at the center of the bottom face
  </description>
</model>
