<!--
Example server configuration that is valid
-->
<server_config>
  <plugins>
    <plugin
      entity_name="*"
      entity_type="world"
      filename="TestWorldSystem"
      name="gz::sim::TestWorldSystem">
      <world_key>0.123</world_key>
    </plugin>
    <plugin
      entity_name="box"
      entity_type="model"
      filename="TestModelSystem"
      name="gz::sim::TestModelSystem">
      <model_key>987</model_key>
    </plugin>
  </plugins>
</server_config>
