<?xml version="1.0"?>

<!-- Window -->
<window>
  <width>1000</width>
  <height>845</height>
  <menus>
    <drawer default="false">
    </drawer>
  </menus>
</window>

<!-- 3D scene -->
<plugin
  filename="Scene3D"
  title="3D View"
  show_title_bar="false"
  resizable="false"
  x="0"
  y="0"
  z="0"
  height="798"
  width="1000">

  <engine>ogre</engine>
  <scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
  <service>/world/default/scene/info</service>
  <pose_topic>/world/default/pose/info</pose_topic>
</plugin>
<plugin filename="Grid3D" delete_later="true">
  <engine>ogre</engine>
  <scene>scene</scene>
  <insert>
    <cell_count>5</cell_count>
    <pose>3.0 0 0 0 0 0</pose>
    <color>0.2 0.2 0.2 1.0</color>
  </insert>
</plugin>

<!-- World control -->
<plugin
  filename="WorldControl"
  title="World control"
  show_title_bar="false"
  resizable="false"
  x="0"
  y="725"
  z="1"
  height="72"
  width="121">

  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>true</start_paused>
  <service>/world/default/control</service>
  <stats_topic>/world/default/stats</stats_topic>

</plugin>

<!-- World statistics -->
<plugin
  filename="WorldStats"
  title="World stats"
  show_title_bar="false"
  resizable="false"
  x="710"
  y="687"
  z="1"
  height="110"
  width="290">

  <sim_time>true</sim_time>
  <real_time>true</real_time>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
  <topic>/world/default/stats</topic>

</plugin>

