<?xml version="1.0"?>

<!-- Window -->
<window>
  <width>1000</width>
  <height>845</height>
  <menus>
    <drawer default="false">
    </drawer>
  </menus>
</window>

<!-- 3D scene -->
<plugin
  filename="Scene3D"
  x="0"
  y="0"
  z="0"
  height="798"
  width="1000">

  <title>3D View</title>
  <has_titlebar>false</has_titlebar>
  <engine>ogre</engine>
  <scene>scene</scene>
  <ambient_light>1 1 1</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="Grid3D" delete_later="true">
  <engine>ogre</engine>
  <scene>scene</scene>
  <insert>
    <cell_count>5</cell_count>
    <pose>3.0 0 0 0 0 0</pose>
    <color>0.2 0.2 0.2 1.0</color>
  </insert>
</plugin>

<!-- Time panel -->
<plugin
  filename="TimePanel"
  x="838"
  y="705"
  z="0"
  height="50"
  width="109">

  <title>Time</title>
  <has_titlebar>false</has_titlebar>

  <world_control>
    <play_pause>true</play_pause>
    <start_paused>false</start_paused>
    <service>/world_control</service>
  </world_control>

  <world_stats>
    <sim_time>true</sim_time>
    <real_time>true</real_time>
    <topic>/world_stats</topic>
  </world_stats>

</plugin>
