<?xml version="1.0"?>

<window>
    <position_x>0</position_x>
    <position_y>0</position_y>
    <state></state>
    <width>1200</width>
    <height>800</height>
    <style
      material_theme="Light"
      material_primary="#9e9e9e"
      material_accent="#03a9f4"
      toolbar_color_light="#f3f3f3"
      toolbar_text_color_light="#111111"
      toolbar_color_dark="#414141"
      toolbar_text_color_dark="#f3f3f3"
      plugin_toolbar_color_light=""
      plugin_toolbar_text_color_light=""
      plugin_toolbar_color_dark=""
      plugin_toolbar_text_color_dark=""/>
    <menus>
        <drawer visible="true" default="false"/>
        <plugins visible="true" from_paths="true"/>
    </menus>
</window>
<plugin filename="MinimalScene" name="3D View">
    <gz-gui>
        <title>3D View</title>
        <property key="showTitleBar" type="bool">false</property>
        <property key="state" type="string">docked</property>
    </gz-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>0.4 0.4 0.4</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 0 6 0 0.5 0</camera_pose>
    <camera_clip>
        <near>0.01</near>
        <far>10000.0</far>
    </camera_clip>
</plugin>
<plugin filename="EntityContextMenuPlugin" name="Entity context menu">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="GzSceneManager" name="Scene Manager">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="InteractiveViewControl" name="Interactive view control">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="CameraTracking" name="Camera Tracking">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="MarkerManager" name="Marker manager">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="SelectEntities" name="Select Entities">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="Spawn" name="Spawn Entities">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="VisualizationCapabilities" name="Visualization Capabilities">
    <gz-gui>
        <property key="width" type="double">5</property>
        <property key="height" type="double">5</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
</plugin>
<plugin filename="WorldControl" name="World control">
    <gz-gui>
        <title>World control</title>
        <anchors target="3D View">
            <line own="left" target="left"/>
            <line own="bottom" target="bottom"/>
        </anchors>
        <property key="z" type="double">1</property>
        <property key="width" type="double">145</property>
        <property key="height" type="double">72</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
    <play_pause>true</play_pause>
    <step>true</step>
    <start_paused>true</start_paused>
    <use_event>true</use_event>
</plugin>
<plugin filename="WorldStats" name="World stats">
    <gz-gui>
        <title>World stats</title>
        <anchors target="3D View">
            <line own="right" target="right"/>
            <line own="bottom" target="bottom"/>
        </anchors>
        <property key="z" type="double">1</property>
        <property key="width" type="double">290</property>
        <property key="height" type="double">110</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
    </gz-gui>
    <sim_time>true</sim_time>
    <real_time>true</real_time>
    <real_time_factor>true</real_time_factor>
    <iterations>true</iterations>
</plugin>
<plugin filename="Shapes" name="Shapes">
    <gz-gui>
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="width" type="double">250</property>
        <property key="height" type="double">50</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="cardBackground" type="string">#666666</property>
    </gz-gui>
</plugin>
<plugin filename="Lights" name="Lights">
    <gz-gui>
        <property key="x" type="double">250</property>
        <property key="y" type="double">0</property>
        <property key="width" type="double">150</property>
        <property key="height" type="double">50</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="cardBackground" type="string">#666666</property>
    </gz-gui>
</plugin>
<plugin filename="TransformControl" name="Transform control">
    <gz-gui>
        <property key="x" type="double">0</property>
        <property key="y" type="double">50</property>
        <property key="width" type="double">250</property>
        <property key="height" type="double">50</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="cardBackground" type="string">#777777</property>
    </gz-gui>
    <!-- disable legacy features used to connect this plugin to GzScene3D -->
    <legacy>false</legacy>
</plugin>
<plugin filename="Screenshot" name="Screenshot">
    <gz-gui>
        <property key="x" type="double">250</property>
        <property key="y" type="double">50</property>
        <property key="width" type="double">50</property>
        <property key="height" type="double">50</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="cardBackground" type="string">#777777</property>
    </gz-gui>
</plugin>
<plugin filename="CopyPaste" name="CopyPaste">
    <gz-gui>
        <property key="x" type="double">300</property>
        <property key="y" type="double">50</property>
        <property key="width" type="double">100</property>
        <property key="height" type="double">50</property>
        <property key="state" type="string">floating</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="cardBackground" type="string">#777777</property>
    </gz-gui>
</plugin>
<plugin filename="ComponentInspector" name="Component inspector">
    <gz-gui>
        <property key="state" type="string">docked_collapsed</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
    </gz-gui>
</plugin>
<plugin filename="EntityTree" name="Entity tree">
    <gz-gui>
        <property key="state" type="string">docked_collapsed</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
    </gz-gui>
</plugin>
<plugin filename="VisualizeForces" name="Visualize Forces">
    <gz-gui>
        <title>Visualize Forces</title>
        <property key="state" type="string">docked</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
    </gz-gui>
    <scale>1</scale>
    <update_rate>1</update_rate>
</plugin>
