name: Ubuntu CI

on:
  pull_request:
  push:
    branches:
      - 'ign-gazebo[0-9]'
      - 'gz-sim[0-9]?'
      - 'main'

jobs:
  bionic-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Bionic CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: ignition-tooling/action-ignition-ci@bionic
        with:
          codecov-enabled: true
          cmake-args: "-DCMAKE_INSTALL_PREFIX=/usr"
  focal-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Focal CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: ignition-tooling/action-ignition-ci@focal
        with:
          cmake-args: "-DCMAKE_INSTALL_PREFIX=/usr"
  jammy-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Jammy CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: ignition-tooling/action-ignition-ci@jammy
        with:
          # per bug https://github.com/gazebosim/gz-sim/issues/1409
          cmake-args: '-DCMAKE_INSTALL_PREFIX=/usr -DBUILD_DOCS=OFF -DCMAKE_BUILD_TYPE=RelWithDebInfo'
          codecov-enabled: true
          cppcheck-enabled: true
          cpplint-enabled: true
          apt-dependencies: libdwarf-dev libdw-dev binutils-dev
