name: Ubuntu CI

on:
  pull_request:
  push:
    branches:
      - 'ign-gazebo[0-9]'
      - 'gz-sim[0-9]?'
      - 'main'

jobs:
  jammy-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Jammy CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: ignition-tooling/action-ignition-ci@jammy
        with:
          # per bug https://github.com/ignitionrobotics/ign-gazebo/issues/1409
          cmake-args: '-DCMAKE_INSTALL_PREFIX=/usr -DBUILD_DOCS=OFF'
          codecov-enabled: true
